:root {
	--color-primary: #008ECC;
	--color-primary-light: #F3F9FB;
	--color-light-dark: #F5F5F5;
	--color-text: #666666;
	--color-heading-text: #222222;
	--color-border: #EDEDED;
	--color-green: #249B3E;
}

* {
	margin: 0;
	padding: 0;
	box-sizing: border-box;
}

body {
	font-family: "Hanken Grotesk", sans-serif;
}

.color-primary {
	color: var(--color-primary);
}

/* Element style */
.top-bar {
	display: flex;
	flex-direction: row;
	justify-content: space-between;
	padding: 0.5rem;
	background-color: var(--color-light-dark);
	color: var(--color-text);
	font-size: 0.75rem;
}
.top-bar ul {
	list-style: none;
	display: flex;
	flex-direction: row;
}
.top-bar li {
	display: flex;
	flex-direction: row;
	align-items: center;
	gap: 0.5rem;
	padding: 0 0.75rem;
}
.top-bar li p {
	font-weight: 200;
	color: var(--color-text);
}
.top-bar li:first-child p span{
	font-weight: 400;
}

/* Hearder */
header {
	display: flex;
	flex-direction: row;
	align-items: center;
	justify-content: space-between;
	padding: .25rem 1rem;
	font-size: 0.85rem;
}

header div {
	display: flex;
	flex-direction: row;
	align-items: center;
	justify-content: center;
	gap: .5rem;
}
.menu {
	background-color: var(--color-primary-light);
	padding: 0.5rem;
	border-radius: 0.25rem;
	font-size: 1.5rem;
}
.brand-logo {
	font-size: 2rem;
}
.search {
	background-color: var(--color-primary-light);
	padding: 0.5rem;
	border-radius: 0.5rem;
}
input {
	background-color: transparent;
	border: none;
}
input:focus {
	outline: none;
	border: none;
}
hr {
	border: 1px solid var(--color-light-dark);
}

/* Navigation */
.quick-nav {
	display: flex;
	flex-direction: row;
	justify-content: center;
	padding: 0.5rem;
	list-style: none;
	gap: 14px;
	flex-wrap: wrap;
}
.quick-nav li {
	display: flex;
	flex-direction: row;
	justify-content: center;
	align-items: center;
	background-color: var(--color-primary-light);
	border-radius: 1rem;
	color: var(--color-heading-text);
	padding: 9px 14px;
}
hr {
	border: 1px solid var(--color-border);
}
#selected {
	background-color: var(--color-primary);
	color: white;
}

/* Slider */
main {
	width: 85vw;
	margin: auto;
}
.slider {
	display: flex;
	flex-direction: row;
	justify-content: space-around;
	align-items: center;
	background-color: #212844;
	position: relative;
	height: 20vw;
	margin: 16px 0 40px 0;
	border-radius: 16px;
	z-index: 0;
	overflow: hidden;
}
.slider .left, .slider .right {
	display: flex;
	justify-content: center;
	align-items: center;
	border-radius: 50%;
	border: 4px solid white;
	background-color: var(--color-primary-light);
	width: 4vw;
	height: 4vw;
	font-size: 1.5rem;
}
.slider .left {
	position: absolute;
	left: 0;
	top: 50%;
	transform: translate(20%, -50%);
}
.slider .right {
	position: absolute;
	right: 0;
	top: 50%;
	transform: translate(-20%, -50%);
}
.slider-text {
	display: flex;
	justify-content: center;
	align-items: center;
	width: 60%;
	height: 100%;
	color: white;
	/* background-color: rgba(255, 0, 0, 0.362); */
}
.slider-text p {
	font-size: 2vw;
	line-height: 1.5;
}
.slider-text span{
	font-size: 4vw;
	font-weight: 800;
}
.slider-product {
	/* background-color: rgba(0, 128, 0, 0.301); */
	width: 40%;
	height: 100%;
	display: flex;
	justify-content: center;
	align-items: center;
	overflow: hidden;
}
.slider-product img{
	height: 15vw;
	z-index: 100;
}
.upper-circle, .lower-circle {
	width: 20vw;
	height: 20vw;
	border-radius: 50%;
	position: absolute;
	background-color: #2C3454;
	z-index: -1;
	border: 8px solid #212844;
	box-shadow: 0 0 0 2px #2C3454;
}
.upper-circle {
	top: -10vw;
	right: 2vw;
}
.lower-circle {
	bottom: -10vw;
	right: 10vw;
}

.products {
}
.products-heading {
	display: flex;
	flex-direction: row;
	justify-content: space-between;
}
.products-heading .heading{
	padding-bottom: 8px;
	border-bottom: 2px solid var(--color-primary);
}
.products-heading .view-all{
	padding-right: 4px;
	font-size: 0.8rem;
	color: var(--color-text);
}
.products-heading .heading span{
	color: var(--color-primary);
}
.products-heading div{
	display: flex;
	flex-direction: row;
	align-items: center;
}
.products-list {
	padding: 24px 8px;
	display: flex;
	flex-direction: row;
	flex-wrap: wrap;
	justify-content: center;
	gap: 20px;
}
.product-type-1 {
	border-radius: 16px;
	border: 1px solid var(--color-border);
	background-color: var(--color-light-dark);
	width: 227px;
	height: 295px;
	display: flex;
	flex-direction: column;
}
.product-type-1 .product-image {
	padding: 24px 0;
	height: 189px;
	display: flex;
	justify-content: center;
	align-items: center;
	position: relative;
}
.product-type-1 .product-image .offer{
	position: absolute;
	right: 0;
	top: 0;
	background-color: var(--color-primary);
	font-size: 0.75rem;
	padding: 8px;
	color: white;
	border-radius: 0 15px 0 16px;
}
.product-type-1 .product-image img{
	height: 100%;
}
.product-type-1 .product-details {
	height: 106px;
	padding: 12px 16px;
	background-color: white;
	border-radius: 0 0 16px 16px;
	line-height: 1.6;
}
.product-type-1 .product-details hr{
	margin: 2px 0;
}
.product-name {
	font-size: 0.875rem;
	color: var(--color-heading-text);

}
.strike {
	color: var(--color-text);
	text-decoration: line-through;
}
.product-discount {
	color: var(--color-green);
}
.product-selected {
	border: 1px solid var(--color-primary);
	box-shadow: 0 4px 12px rgba(0, 0, 0, 0.15);
}
.product-type-2 {
	display: flex;
	flex-direction: column;
}
.product-type-2 .product-image {
	background-color: var(--color-light-dark);
	border-radius: 50%;
	padding: 24px 0;
	width: 150px;
	height: 150px;
	display: flex;
	justify-content: center;
	align-items: center;
}
.product-type-2 .product-image img{
	height: 100%;
}
.product-type-2 .product-details {
	display: flex;
	justify-content: center;
	padding: 16px;
}